

:root{
    --hover-color :  #2a5add;
}
.navbar{
    overflow: hidden;
    z-index: 9990;
  
}



.mob__nav{
    position: relative;
    display: none;
    background-color:#e1dddb; ;
    top: 80px;
    margin-left: 250px;
    width:70vw;
    height: 100vh;
    border-top: 2px solid black;
    transition: transform 0.5s ease-in-out;

}

/* .mob__nav ul{
    overflow: hidden;
    display: flex;
    flex-direction: column;
} */
.mob__nav ul li{
    list-style: none;
    padding: 25px 40px;
    text-transform: uppercase;

}

.mob__nav-slideIn{
    transform: translateX(500px);
}
.mob__nav-slideOut{
    transform: translateX(-50px);
}

.nav__elements ul li:hover, .nav__elements ul li.active{
 color: var(--hover-color);
 border-bottom: #2a5add;

}

.mob__nav ul li:hover, .mob__nav ul li.active{
 background: var(--hover-color);
 transition: 0.2s ease-in;

}


@media (max-width: 768px) {
    .nav__elements ul{
        color:red;
        display: none;
    }

    .mob__nav{
        display: block;
        /* position: absolute;         */
    }
}
