.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures App takes at least the height of the viewport */
  }
  
 
 .login_form{
  
  background-color: rgba(95, 51, 240, 0.473);
  backdrop-filter: blur(10px);
  color: white;
 }
 .signup_form{
  background-color: rgba(95, 51, 240, 0.473);
  backdrop-filter: blur(10px);
  color: white;
 }

 .footer{
  background-color: #194866;
  color: white;
 }
  

/* .course_page{
  background-image: url('./images/blogs/page_background.png');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -999;

  
} */