.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures App takes at least the height of the viewport */
  }
  
 
 .login_form{
  
  background-color: rgba(73, 23, 255, 0.973);
  backdrop-filter: blur(10px);
 }
 .signup_form{
  background-color: rgba(103, 95, 131, 0.973);
  backdrop-filter: blur(10px);
 }
  